<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Clevo Fan Control</vendor>
  <vendor_url>https://github.com/system76-galapago-pro-fan-unfucker</vendor_url>

  <action id="org.freedesktop.policykit.clevo-indicator.ec-access">
    <description>Access Embedded Controller for fan control</description>
    <message>Authentication is required to control fan speed</message>
    <icon_name>brasero</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/clevo-indicator</annotate>
  </action>

</policyconfig> 